{#=====================================================
  Signup page
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block content %}

    <h2>Edit Message</h2>

    <form method="post" action="/edit/{{ id }}">

      <label>
        Title
        <input type="text" name="title" required placeholder="{{ message.title }}">
      </label>

      <label>
        Password
        <input type="text" name="body" required placeholder="{{ message.body }}">
      </label>

      <button>Save Changes</button>

    </form>

    <button onclick="window.location.href='/messages';">Cancel</button>

{% endblock %}

