{#=====================================================
  Messages page
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block content %}

    <h2>Messages</h2>

    <form method="post" action="/messages">

      <label>
        Title
        <input type="text" name="title" required>
      </label>

      <label>
        Message
        <input type="text" name="body" required>
      </label>

      <button>Submit</button>

    </form>

    <section id="posts">

        {% for message in messages %}

            <div class="post">
                <div id="postHead">
                  <h3>{{ message.title }} - {{ message.username }}</h3>
                </div>
                <div id="postBody">
                  <p>{{ message.body }}</p>
                  {% if (session.logged_in) %}
                    {% if message.user_id == session["user"]["id"] %}
                      <button onclick="window.location.href='/edit/{{ message.id }}';" class="utilityButton"><strong>✎</strong></button>
                    {% endif %}
                    {% if message.user_id == session["user"]["id"] or session.admin %}
                      <button onclick="window.location.href='/delete/{{ message.id }}';" class="utilityButton"><strong>🗑</strong></button>
                    {% endif %}
                  {% endif %}
                </div>
                {% if (session.logged_in) %}
                  <div>
                    <form method="post" action="/comment/{{ message.id }}">
                      <label><input type="text" name="comment" required placeholder="Comment..."></label>
                      <button>Comment</button>
                    </form>
                  </div>
                {% endif %}
            </div>

        {% else %}

            <p>No Messages!</p>

        {% endfor %}

    </section>
{% endblock %}

