{#=====================================================
  Welcome page
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block content %}

    <h1 class="welcome">MessageBoard!!</h1>
    
    {% if session.logged_in %}
      <button onclick="window.location.href='/messages';">Go To The Messages</button>
    {% else %}
      <button onclick="window.location.href='/login';">Log In</button>
      <h4>Or</h4>
      <button onclick="window.location.href='/users/new';">Sign Up</button>
    {% endif %}

{% endblock %}

