{#=====================================================
  Welcome page
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block content %}

    <h1 class="welcome">MessageBoard!!</h1>
    
    {% if session.logged_in %}
    {% endif %}

{% endblock %}

