/*===========================================================
  Auth intro
  By Aaron
===========================================================*/

:root {
    --base-color: #1749a5;
    --accent-color: rgb(4, 94, 4);

    --base-color-light: color-mix(in srgb, var(--base-color), #fff 20%);
    --base-color-lighter: color-mix(in srgb, var(--base-color), #fff 50%);
    --base-color-dark: color-mix(in srgb, var(--base-color), #000 25%);
    --base-color-darker: color-mix(in srgb, var(--base-color), #000 50%);

    --text-color: #000;
    --inv-text-color: #fff;


    --page-bg: var(--base-color-lighter);
    --panel-bg: var(--base-color-light);

    --link-color: var(--accent-color);
    --button-bg: var(--accent-color);
    --button-color: var(--inv-text-color);
    --link-color: var(--accent-color);


    --padding: 1rem;
    --padding-sm: 0.5rem;
    --padding-lr: 2rem;

    --gap: 1rem;
    --gap-sm: 0.5rem;
    --gap-lr: 2rem;

    --margin: 1rem;
    --margin-sm: 0.5rem;
    --margin-lr: 2rem;


    --content-width: 60rem;
    --content-width-sm: 30rem;
    --content-width-lr: 90rem;

    --button-width: 10rem;
    --button-width-sm: 3rem;
    --button-width-lr: 13rem;

    --button-height: 3rem;
    --button-height-sm: 2rem;
    --button-height-lr: 5rem;

    --font-size: 1rem;
    --font-size-sm: 0.5rem;
    --font-size-lr: 2rem;

    --border-radius: 0.5rem;
    --border-radius-lr: 0.7rem;
    --border-radius-sm: 0.4rem;





}


/* Overall Layout -----------------------------------------------*/

html {
    background-color: var(--page-bg);
    color: var(--text-col);

    font-family: system-ui, sans-serif;
}


body {
    min-height: 100dvh;
}


main {
    max-width: 60rem;
    margin-inline: auto;
    padding: var(--padding);
}


/* Header & Nav -----------------------------------------------*/

body > header {
    display: flex;
    align-items: center;
    padding: var(--padding);

    .logo {
        width: 2rem;
        height: 2rem;
    }

    h1 {
        font-size: 1.5rem;
        flex: 1;
    }

    nav {
        display: flex;
        gap: var(--gap);

        a {
            color: var(--link-color);
        }
    }
}


/* Page Headings -----------------------------------------------*/

main > h1.welcome {
    font-size: 5rem;
    text-align: center;
    margin-block: 5rem;
}


main > h2 {
    font-size: 2rem;
    text-align: center;
    margin-block: 2rem;
}


/* User List --------------------------------------------------*/

#users {
    display: block;
    gap: var(--gap);
    grid-template-columns: 1fr;

    @media (width >= 500px) {
        grid-template-columns: 1fr 1fr;
    }

    @media (width >= 800px) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .user {
        padding: var(--padding);
        margin: var(--margin);

        background-color: var(--panel-bg);
        border: 2px solid var(--accent-color);
        border-radius: var(--border-radius);

        h3 {
            color: var(--accent-color);
        }
    }
}

/* posts List --------------------------------------------------*/

#posts {
    display: block;
    gap: var(--gap-lr);
    grid-template-columns: 1fr;
    align-self: center;
    justify-self: center;
    align-items: center;
    justify-items: center;
    padding: var(--padding);
    

    @media (width >= 500px) {
        grid-template-columns: 1fr 1fr;
    }

    @media (width >= 800px) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .post {
        display: flex;
        flex-flow: column;
        padding: var(--padding);
        margin: var(--margin);

        background-color: var(--panel-bg);
        border: 2px solid var(--accent-color);
        border-radius: var(--border-radius);
        width: var(--content-width);
        align-items: center;
        justify-content: center;
        

        h3 {
            color: var(--accent-color);
        }
    
    }
}

.postBody {
    padding: var(--padding);
    display: flex;
    gap: var(--gap);
    align-items: center;
    font-size: 0.8rem;


}

/* form --------------------------------------------------*/

form {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    width: 100%;

    max-width: 30rem;
    margin-inline: auto;
    padding: var(--padding);

    background-color: var(--panel-bg);
    border: 3px solid var(--border-col);
    border-radius: var(--border-radius);
    box-shadow: var(--drop-shadow);

    label {
        width: 100%;

        input, textarea {
            width: 100%;
            border: 3px solid var(--border-col);
            border-radius: var(--border-radius-sm);
            padding: var(--padding-sm);
        }
    }
}



/* button------------------------------------------------*/

.button, button{
    display: flex;
    width: 100%;
    max-width: var(--button-width);
    height: var(--button-height);
    border-radius: var(--border-radius-sm);
    background-color: var(--button-bg);
    align-self: center;
    justify-self: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;

}

.button > a {
    text-decoration: null;
    font-size: var(--font-size);
    font: var(--button-color);
}

.utilityButton{
    width: var(--button-width-sm);
    height: var(--button-height);
    font-size: var(--font-size-lr);

    
}